<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test</key>
	<dict>
		<key>token</key>
		<string>https://dr-uat.hsyunyi.com</string>
		<key>api</key>
		<string>https://sandbox.hscloud.cn</string>
	</dict>
	<key>Product</key>
	<dict>
		<key>token</key>
		<string>https://dr.hsyunyi.com</string>
		<key>api</key>
		<string>https://vopen.hscloud.cn</string>
	</dict>
</dict>
</plist>
